body {
  background-color: #282c34;
  color: #bcbcbc;
  
  font-size: 14px;
  padding: 15px;
  
  max-width: 1000px;
  margin: 0 auto;
}

a {
    color: #bcbcbc;
    text-decoration: none;
    
    width: 100%;
    display: inline-block;
}

.cv-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-header__logo {
  height: 15vmin;
  margin-right: 30px;
}

.cv-header__text {
  text-transform: uppercase;
  letter-spacing: 5px;
  
  text-align: center;
}

.cv-section__header {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  
  letter-spacing: 3px;
  
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}

main {
  display: grid;
  grid-gap: 20px;
}

.cv-main__left {
  grid-column-start: 1;
}
  
.cv-main__right {
  grid-column-start: 2;
}

.cv-section {}